@media (max-width: 1200px) {
  .contact-block {
    display: none;
  }

  .user-info {
    display: none;
  }

  aside {
    width: 50px;
  }

  main {
    left: 50px;
    width: calc(100% - 50px);
  }
}
